:root {
  --bg-color: #141414;
  --text-white: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--bg-color);
}

.h1-title {
  color: var(--text-white);
}